<!DOCTYPE html>
<html>
	<head>
		<title>Fragment</title>
		<meta charset="utf-8" />
		<link rel="stylesheet"  href="../css/Fragment.css">
	</head>
	<body>
		<article>
			<a href="#">
			<img src="../img/logosword.png" alt="xyz" />
			</a>
			<div class="preview">
			<ul class="meta">
				<li><a href="#">Articles</a></li>
				<li><a href="#">Web roundups</a></li>
				
			</ul>
			<h2>bladbal ksjdalksj dalksdakl saldasl</h2>
			<p class="xxx"><a href="#">Siddharth</a> on 23rd september with <a href="#"> 44 comments</a> </p>
			<div class="body">
				<p>
					djfasldjoiew fhalkfjapiowe hfapjdfaslkd jadjoeiwfdh jwpadjqewf dajdfaoe ifhadfjaoei hfdawljdeifhd qpwioaehfad japisd feiophfapsij dfapweiof jaepoifio oijdfaapsoi djkaspdjafoasi fjpaeiofq
				</p>
				<p> 
					;ladkjf asl;djas;klf jdafjsdl kfadasdofhoidj wakdfaslk fhndaoifjwkdf siofpiefjcacahnaodjal skhfaoifjsd jasopdkja slfkdaofja;ls djkasjdaf adspfjkasl;djkas ;ldfjas; ljkals;dja sl;fckjadl;fkl
				</p>
				<a class="continue" href="#">Continue</a>
				</div>
			</div>
		</article>


	</body>
</html>