

/*
****************
*=header
****************
*/


header{
	overflow: hidden;
}
header h1{

	background: url(../img/logosword_opt.png) no-repeat;
	width: 174px;
	height: 23px;
	float: left;
	
	text-indent: -9999px;
	 

}


/*
****************
*=nav
****************
*/
nav{
	position: relative;
	top: 20px;
	float: right;
}
nav li{

	margin-left: 24px;
	display: inline;
}
nav a{
	text-transform: lowercase;
}
li{
	margin-left: 24px;
}
.button{
	background: #242324;
	position: relative;
	top: 70px;
}
.button:hover{
	color: white;
}
blockquote blockquote p{
	font-size: 15px;
	line-height: 20px;
	font-style: italic;

}

/*
****************
*=benner
****************
*/
	
.banner{
	background:url(../img/wide.jpg) no-repeat;
	width: 695px;
	height: 231px;
	margin-top: 50px;
}

.banner h2{
	color: white;
	font-size: 28px;
	width: 400px;
	margin-top: 70px;
	font-style: italic;
}

.callout{
	background: black;
	height: 231px;
	margin-top: 50px;
}
.grid_4{
	background: red;
}
.container_12{
	background: green;
}
.grid_2{
	background: orange;
}

/*
****************
*=main
****************
*/
.main{
	margin-top: 20px;
}
.grid_9 h1{
	margin-bottom: 20px;
}

/*
****************
*=footer
****************
*/
footer{
	clear: both;
	position: relative;
	top: 150px;
}

a{
	color: #7e7e7e;
	text-decoration: none;
}
a:hover{
	color: black;
}